body {
  background-color: #f6f6f6;
  font-family: Courier New;
}
a {
  color: #08519c;
  text-decoration: none;
}
a:hover {
  font-weight: bolder;
}
.hl:hover > svg {
  fill: #08519c;
}
.hl:hover > span {
  color: #08519c;
  font-weight: bolder;
  cursor: pointer;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}

#title {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}
#extras {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px;
}
#counter {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 20px;
}
#counter > div {
  display: inline;
}
#counter > div.hl {
  color: #08519c;
}
#helpicon {
  height: 100px;
  width: 200px;
}

.tooltip {
  position: absolute;
  display: inline-block;
  z-index: 2000;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  text-align: left;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
